{% extends 'AppBundle::base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/style.css') }}" />
{% endblock %}

{% block body %}
	<h3>Login</h3>
	{% if errors != null %}
		<div id="errorBox">
			{% for error in errors %}
				<h3>{{ error }}</h3>
			{% endfor %}
		</div>
	{% endif %}
	<form name="login" method="post" action="/login/user">
		 <div class="form-group">
	    <label for="email">Email address</label>
	    <input type="email" class="form-control" id="email" name="email" placeholder="Email">
	  </div>
	  <div class="form-group">
	    <label for="password">Password</label>
	    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
	  </div>
	  <button type="submit" class="btn btn-default">Login</button>
	</form>
{% endblock %}
