{% extends 'AppBundle::base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/style.css') }}" />
{% endblock %}

{% block body %}
	<a href="/vacatures"><button class="btn btn-default">Back</button></a>
	<h3>{{ vacature.getName() }} -  {{ doelgroep.name }}</h3>
	<p>
		<b>Locatie:</b>&nbsp;
		<i>{{ vacature.getPostcode() }}, {{ vacature.getPlaats() }} - {{ vacature.getAdres() }} {{ vacature.getHuisnummer() }}</i>
		</p>
	<p>{{ vacature.getOmschrijving() }}</p>
	{% if vacature.getUserId() == user_id %}
		<div id="userMenu">
			<a href="/vacatures/form/{{ doelgroep.id }}"><button class="btn btn-default">Edit</button></a>
			<button class="btn btn-default">Delete</button>
		</div>
	{% endif %}
{% endblock %}