{% extends 'AppBundle::base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/style.css') }}" />
{% endblock %}

{% block body %}
	<h1>Add or edit you're record</h1>
	<a href="/vacatures"><button class="btn btn-default">Cancel</button></a>
	{% if errors != null %}
		<div class="errorBox">
			{% for error in errors %}
				<p><b>{{ error }}</b></p>
			{% endfor %}
		</div>
	{% endif %}
	<form name="vacatureForm" id="vacatureForm" method="POST" action="/vacatures/save">
		<div class="row">
			<div class="col-xs-6">
				<i>Main information</i><br>
				<div class="form-group">
					<label for="nameInput">Titel:</label>
					<input type="text" name="nameInput" id="nameInput" value="{{ vacature.getName() }}" required />
				</div>
				<div class="form-group">
					<label>Message</label>
					<textarea class="form-control" rows="3" name="omschrijving">{{ vacature.getOmschrijving() }}</textarea>
				</div>
				<i>Location of the vacature</i>
				<div class="form-group">
					<label for="zipInput">Postcode:</label>
					<input type="text" name="zipInput" id="zipInput" value="{{ vacature.getPostcode()  }}" required />
				</div>
				<div class="form-group">
					<label for="plaatsInput">Plaats:</label>
					<input type="text" name="plaatsInput" id="plaatsInput" value="{{ vacature.getPlaats() }}" required />
				</div>
				<div class="form-group">
					<label for="adresInput">Adres:</label>
					<input type="text" name="adresInput" id="adresInput" value="{{ vacature.getAdres() }}" required />
				</div>
				<div class="form-group">
					<label for="hnInput">Huisnummer:</label>
					<input type="text" name="hnInput" id="hnInput" value="{{ vacature.getHuisnummer() }}" />
				</div>
			</div>
			<div class="col-xs-6">
				<h3>Selecteer uw doelgroep</h3>
				{% for dg in doelgroepen %}
					<div class="radio">
						<label>
							{% if dg.getId() == doelgroep.id %}
								<input type="radio" name="doelgroep" id="doelgroep" checked="true" value="{{ dg.getId() }}">{{ dg.name }}
							{% else %}
								<input type="radio" name="doelgroep" id="doelgroep" value="{{ dg.getId() }}">{{ dg.name }}
							{% endif %}
						</label>
					</div>
				{% endfor %}
			</div>		
		</div>
		<div class="row">
			<input type="hidden" name="vacature_id" value="{{ vacature_id }}" />
			<button>Save</button>
		</div>
	</form>
{% endblock %}