{% extends 'AppBundle::base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/style.css') }}" />
{% endblock %}

{% block body %}
	<h1>All vacatures</h1>
	<a href="/vacatures/form"><button class="btn btn-default">Add new Vacature</button></a>
	{% if errors != null %}
		<div class="errorBox">
			{% for error in errors %}
				{{ error }}
			{% endfor %}
		</div>
	{% endif %}
	{% if msg != null %}
		<div class="success">
			{% for message in msg %}
				<h3>{{ message }}</h3>
			{% endfor %}
		</div>
	{% endif %}
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Id</th>
				<th>Titel</th>
				<th>Omschrijving</th>
				<th>Actie's</th>
			</tr>
		</thead>
		<tbody>
			{% for vacature in vacatures %}
				<tr>
					<td><a href="/vacatures/vacature/{{ vacature.getId() }}">{{vacature.getId()}}</a></td>
					<td>{{ vacature.name }}</td>
					<td>{{ vacature.omschrijving }}</td>
					<td>
						{% if user_id == vacature.getUserId() %}
							<a href="/vacatures/form/{{ vacature.getId() }}"><button class="btn btn-default">Edit</button></a>
							<button class="btn btn-default" onclick="deleteVacature({{vacature.getId()}});">Delete</button>
						{% else %}
							<a href="/vacatures/vacature/{{ vacature.getId() }}"><button class="btn btn-default">Show vacature</button></a>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/handlers.js') }}"></script>
{% endblock %}